<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 读写文件 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 多媒体 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <provider
            android:name=".common.media.model.GenericFileProvider"
            android:authorities="${applicationId}.generic.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".common.media.imagepicker.ui.ImageGridActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/LightBaseTheme" />
        <activity
            android:name=".common.media.imagepicker.ui.ImageCropActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/ImagePickerTheme.BlackStatusBar" />
        <activity
            android:name=".common.media.imagepicker.ui.ImagePreviewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerTheme.BlackStatusBar" />
        <activity
            android:name=".common.media.imagepicker.ui.ImagePreviewRetakeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerTheme.BlackStatusBar" />
        <activity
            android:name=".common.media.imagepicker.ui.ImageTakeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImagePickerTheme.BlackStatusBar" />
    </application>

</manifest>